<style>
.card { vertical-align: middle; }
.check { width: 20%; height: 20%; }
.checked { background-color: red; color: white; }
</style>
<div id='win' style='display: none;'>
<h1>WINNER!</h1>
<h3 id='prize'>...your prize...</h3>
</div>
<% @card = Z4.bingo(@params['user']) %>
<%= @card.to_html %>
<script>
    var game = { "0": [], "1": [], "2": [], "3": [], "4": [] };
function tog() { $('#card').hide(); $('#win').show(); }
function click() {
    $('.check').each(function(i, e) {
	var id = $(e).attr('id'); var ch = $(e).hasClass('checked'); var ix = id.split('_'); game[ix[1]][ix[2]] = ch;
    });
    var cols = { "0": [], "1": [], "2": [], "3": [], "4": [] };
    if (game[0][0] == true && game[0][4] == true && game[4][4] == true && game[4][4] == true) { tog(); }
    $.each(game, function(k,v) { console.log(v);
				 if (!v.includes(false)) { tog(); }; for (i = 0; i <= 4; i++) { cols[i][k] = v[i] } });
    $.each(cols, function(k,v) { if (!v.includes(false)) { tog(); } });
}
$(document).on('click', '.check', function(ev) {
    ev.preventDefault();
    $(this).addClass('checked');
    click();
});
</script>
