
<h1>1.a. HTML</h1>

<h3 style='color: gold;'>READ:</h3>

<ul>
<li>html is used to define the structure of a document.</li>
<li>it is made up of tags bounded by angle brackets and can contain attributes</li>
<li>the html document is also used to include libraries, styles, scripts and media</li>
<li>the most important element and only rendered portion of the html document is the contents of the body tag.</li>
</ul>

<h3 style="color: gold;">WATCH:</h3>

<iframe style='width: 100%;' src="https://www.youtube.com/embed/PlxWf493en4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<h1 style='width: 100%; text-align: center;'>
<a href='#' style="text-decoration: none; border-radius: 10px; color: gold; background-color: black; padding: 0 2% 0 2%; border: thin solid gold;">TEST 1.1</a>
</h1>